<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js">
    </script>
    <script type="text/javascript">
        (function() {
            emailjs.init({
              publicKey: "Huc1TaFlx45MGD0Wf",
            });
        })();
    </script>
    <script src="{{ url_for('static', filename='js/email.js') }}"></script>
  <title>Contact Us</title>
</head>
<body>
    <header>
        <h1>Contact Us</h1>
        {% if not in_session %}
            <nav>
                <ul>
                    <li><a href="{{ url_for('hub.hub') }}">Dashboard</a></li>
                    <li><a href="{{ url_for('login.login') }}">Login</a></li>
                    <li><a href="{{ url_for('register.register') }}">Register</a></li>
                    <li><a href="{{ url_for('contact.contact') }}" class="active">Contact Us</a></li>
                    <li><a href="{{ url_for('login.logout') }}" class="logout-link">Logout</a></li>
                </ul>
            </nav>
        {% else %}
            <nav>
                <ul>
                    <li><a href="{{ url_for('hub.hub') }}" class="active">Dashboard</a></li>
                    <li><a href="{{ url_for('contact.contact') }}">Contact Us</a></li>
                    <li><a href="{{ url_for('login.logout') }}" class="logout-link">Logout</a></li>
                </ul>
            </nav>
        {% endif %}
    </header>
    <main>
        <section class="dashboard-content">
            <form method="POST" id="contact-form">
                <h2>Feel free to get in touch!</h2>
                <input type="text" name="first" placeholder="First Name" autocomplete="off" required>
                <input type="text" name="last" placeholder="Last Name" autocomplete="off" required>
                <input type="email" name="email" placeholder="Email Address" autocomplete="off" required>
                <input type="text" name="subject" placeholder="Subject" autocomplete="off" required>
                <textarea rows="5" columns="60" name="message" placeholder="Enter Message Here..." autocomplete="off" reqeuired></textarea>
                <button type="submit" onclick="sendMail()" class="btn">Send Message</button>
            </form>
        </section>
    </main>
    <footer>
        <p>&copy; 2025 BokoHacks | All Rights Reserved</p>
    </footer>
    <script>
        document.getElementById("contact-form").addEventListener("submit", function() {
            setTimeout(() => {
                this.reset();
            }, 100);
        });
    </script>
</body>
</html>